services:
  db:
    image: postgres:18
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports: ["5432:5432"]
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 5s
      timeout: 3s
      retries: 30

  api:
    build:
      context: .
      dockerfile: Dockerfile.api
    environment:
      DATABASE_URL: ${DATABASE_URL}
      MODEL_PATH: ${MODEL_PATH}
      WANDB_API_KEY: ${WANDB_API_KEY}
      ARTIFACT_NAME: ${ARTIFACT_NAME}
      MODEL_VERSION: ${MODEL_VERSION}
    depends_on:
      db:
        condition: service_healthy
    ports: ["8000:8000"]

  ui:
    build:
      context: .
      dockerfile: Dockerfile.ui
    environment:
      API_URL: ${API_URL}
    depends_on:
      - api
    ports: ["8501:8501"]
